<!DOCTYPE html>
 <!-- to add head content  -->
 <%- include('./partials/head.ejs') %>

 <body>
   <!-- to add nav content  -->
   <%- include('./partials/nav.ejs') %>

    <div class="not-found content">Oops, page not found :)</div>

    <div class="blogs content">
      <h2>All blogs</h2>
    </div>

        <!-- to add footer content  -->
        <%- include('./partials/footer.ejs') %>
  </body>
</html>
