<!DOCTYPE html>
<html lang="en">
  <!-- to add head content  -->
  <%- include('./partials/head.ejs') %>

  <body>
    <!-- to add nav content  -->
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim voluptas
        nulla ipsam nesciunt est tempore accusantium eaque expedita incidunt?
        Veritatis voluptatibus expedita ab quasi similique nobis quas
        reprehenderit aliquam praesentium?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim voluptas
        nulla ipsam nesciunt est tempore accusantium eaque expedita incidunt?
        Veritatis voluptatibus expedita ab quasi similique nobis quas
        reprehenderit aliquam praesentium?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim voluptas
        nulla ipsam nesciunt est tempore accusantium eaque expedita incidunt?
        Veritatis voluptatibus expedita ab quasi similique nobis quas
        reprehenderit aliquam praesentium?
      </p>
    </div>

    <div class="blogs content">
      <h2>All blogs</h2>
    </div>

    <!-- to add footer content  -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
